<!doctype html>
<html lang="zh-hant">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引用 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container">
        <h1>大直高中公民選舉系統</h1>
        {% if user.is_authenticated %}
        <p>歡迎！ {{ user.username }}
          <a href="{% url 'logout' %}" class="btn btn-outline-primary">登出</a>
        </p>
        {% else %}
        <p><a href="{% url 'login' %}" class="btn btn-outline-primary">登入</a></p>
        {% endif %}
        <!-- <p><a href="" class="btn btn-outline-primary">測試</a></p> -->
    </div>
    <h5><a href="{% block top_link %}{% endblock %}">
      {% block top_message %}{% endblock %}</a></h5>
    {% block content %}
    {% endblock %}
</body>
</html>